body {
     background-color: #2DE899;
}
h1 {
    color: black;
    font-size: 100px;
    font-family: algerian;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
}

#herramientas table, td, th {
    border: 1px solid black;
    
}

#herramientas table {
    border-collapse: collapse;
    width: 50%;
    position: relative;
    top: 100px;
    
}

#herramientas th {
    height: 50px;
    background-color: #4CAF50;
    
    color: white;
}